#flag-1 {
  display: flex;
  margin: 40px auto;
  width: 500px;
  height: 300px;
}

#flag-1 > div {
  width: 33%;
}

#column-1 {
  background-color: blue;
}

#column-2 {
  background-color: white;
}

#column-3 {
  background-color: red;
}

#flag-1:active #column-1 {
  background-color: green;
}

#flag-1:active #column-2 {
  background-color: white;
}

#flag-1:active #column-3 {
  background-color: orange;
}

#flag-2 {
width: 500px;
margin: 40px auto;
}

#flag-2 > div {
  height: 100px;
}

#row-1 {
  background-color: black;
}

#row-2 {
  background-color: red;
}

#row-3 {
  background-color: yellow;
}

#flag-2:hover #row-1 {
  background-color: red;
}

#flag-2:hover #row-2 {
  background-color: white;
}

#flag-2:hover #row-3 {
  background-color: green;
}

