#flag-1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;;
}

#column-1 {
  background-color: blue;
  width: 166px;
  height: 300px;
}

#column-2 {
  background-color: white;
  width: 166px;
  height: 300px;
}

#column-3 {
  background-color: red;
  width: 166px;
  height: 300px;
}

#flag-1:active #column-1 {
  background-color: green;
}

#flag-1:active #column-2 {
  background-color: white;
}

#flag-1:active #column-3 {
  background-color: orange;
}

#flag-2 {
width: 500px;
margin-top: 40px;
margin:auto;
margin-top: 40px;
}

#row-1 {
  height: 100px;
  background-color: black;
}

#row-2 {
  height: 100px;
  background-color: red;
}

#row-3 {
  height: 100px;
  background-color: yellow;
}

#flag-2:hover #row-1 {
  background-color: red;
}

#flag-2:hover #row-2 {
  background-color: white;
}

#flag-2:hover #row-3 {
  background-color: green;
}

